#classroom .body-panel {
    width: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

#classroom .body-panel .student {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    border-radius: 5px;

    background-color: white;
}

#classroom .body-panel .student .info-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: 20px;
}

#classroom .body-panel .student .image {
    width: 50px;
    height: 50px;
    object-fit: contain;

    margin-right: 20px;
}

#classroom .body-panel .student .name {
    color: #383838;
    font-size: 16px;
    font-weight: 700;
}

#classroom .body-panel .student .grades {
    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: auto;

    padding: 0px;
    margin: 0px;
}

#classroom .body-panel .student .grades .grade {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    padding: 0px 5px;
    margin: 0px;
}

#classroom .body-panel .student .add-panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 40px;
}

#classroom .body-panel .student .average {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    margin-right: 20px;
}

@media (max-width: 800px) {
    #classroom .body-panel .student {
        display: flex;
        flex-direction: column;
    }

    #classroom .body-panel .student .info-panel {
        align-self: flex-start;

        margin-right: 0px;
    }
    
    #classroom .body-panel .student .image {
        width: 40px;
        height: 40px;
        object-fit: contain;
    
        margin-right: 10px;
    }
    
    #classroom .body-panel .student .name {
        color: #383838;
        font-size: 16px;
        font-weight: 700;
    
        margin-right: 20px;
    }
    
    #classroom .body-panel .student .grades {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
    
        overflow-x: auto;
    
        padding: 0px;
        margin: 20px 0px;
    }
    
    #classroom .body-panel .student .grades .grade {
        color: #383838;
        font-size: 16px;
        font-weight: 700;
    
        padding: 0px 5px;
        margin: 0px;
    }

    #classroom .body-panel .student .grades .message {
        width: 100%;
        text-align: center;
    }

    #classroom .body-panel .student .add-panel {
        align-self: flex-end;

        margin-left: 0px;;
    }
    
    #classroom .body-panel .student .average {
        color: #383838;
        font-size: 16px;
        font-weight: 700;
    
        margin-right: 20px;
        margin-left: 50px;
    }

    #classroom .body-panel .student .button {
        padding-left: 10px;
        padding-right: 10px;
    }
}