#grades {

}

#grades .body-panel {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

#grades .body-panel .grades {
    width: 100%;
    height: 340px;

    overflow-y: scroll;
}

@media (max-width: 1000px) {
    #grades .body-panel .grades {
        height: auto;
    }
}

#grades .body-panel .grades .grade {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px;
    margin-bottom: 10px;

    border-radius: 5px;

    background-color: white;
}

#grades .body-panel .grades .grade .description {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#grades .body-panel .grades .grade .bar {
    width: 100px;
    height: 6px;

    border-radius: 1000px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 20px;

    background-color: rgba(0, 0, 0, 0.1);
}

#grades .body-panel .grades .grade .bar .filled {
    height: 100%;

    border-radius: 1000px;

    background-color: #5E81F4;
}

#grades .body-panel .grades .grade .value {
    color: #383838;
    font-size: 16px;
    font-weight: 700;

    width: 100px;

    margin-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}