#menu {
    width: 300px;
    height: 100%;

    position: relative;

    display: flex;
    flex-direction: column;

    padding: 20px 0px;

    background-color: white;

    z-index: 10;
}

@media (max-width: 1000px) {
    #menu {
        position: fixed;
        left: -100vw;
        top: 0;

        width: 100vw;
        height: 100%;
        height: -moz-available;
        height: -webkit-fill-available;
        height: fill-available;

        padding: 50px 0px 20px 0px;

        transition: all 400ms;
    }
}

#menu .border {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 4px;
    height: 100%;

    background-color: rgba(240, 240, 240);
}

#menu .logo {
    width: 100%;

    padding: 30px;

    color: #383838;
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 1000px) {
    #menu .logo {
        padding-left: 20px;
    }
}

#menu .navigation {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    z-index: 2;
}

#menu .navigation .item {
    width: 300px;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 15px 0px 15px 30px;

    text-decoration: none;

    transition: all 100ms;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #menu .navigation .item {
        width: 100%;
        padding-left: 20px;
    }
}

#menu .navigation .item:hover {
    background-color: rgba(240, 240, 240);
}

#menu .navigation .item ion-icon {
    width: 25px;
    height: 25px;

    margin-right: 20px;

    color: rgba(0, 0, 0, 0.35);
}

#menu .navigation .item .title {
    color: rgba(0, 0, 0, 0.35);
    font-size: 15px;
    font-weight: 700;
}


@media (max-width: 1000px) {
    #menu .navigation .item ion-icon {
        width: 30px;
        height: 30px;
    
        margin-right: 20px;
    
        color: rgba(0, 0, 0, 0.35);
    }
    
    #menu .navigation .item .title {
        color: rgba(0, 0, 0, 0.35);
        font-size: 16px;
        font-weight: 700;
    }
}

#menu .navigation .item .selector {
    width: 4px;
    height: 150%;

    background-color: #5E81F4;

    transition: all 50ms;
}